body{
  background-color: #17181f;
  color: #ddd;
}

main {
  max-width: 300px;
  margin: 0 auto;

}

.add-task-container {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin: 10px;
}

.input-textbox {
  background: none;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  color: white;
}

.add-task-button {
  background-color: #61dafb;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

/* .task {
  
} */

/* div.taskdone svg {
  height: 20px;
  margin-right: 6px;
  fill: #61dafb;

} */

.checkbox-checked {
  cursor: pointer;
  height: 20px;
  margin-right: 6px;
  fill: #61dafb;
  color: red;
  width: 20px;
}

.checkbox-unchecked {
  cursor: pointer;
  height: 20px;
  margin-right: 6px;
  fill: #61dafb;
  color: red;
  width: 20px;
}

.taskdone {
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  transition: opacity .3s linear;
  text-decoration: line-through;
  opacity: 0.5;
  color: #888;
}

.tasknot-done {
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  transition: opacity .3s linear;
}