body{
  background-color: #17181f;
  color: #ddd;
  height: 100%;
  margin: 0;
}

main {
  max-width: 40%;
  margin: 0 auto;
  align-items: center;
  border: 2px solid red;
}

.add-task-container {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin: 10px;
}

.input-textbox {
  background: none;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  color: white;
}

.add-task-button {
  text-align: center;
  background-color: #61dafb;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.checkbox-checked {
  cursor: pointer;
  height: 20px;
  margin-right: 6px;
  fill: #61dafb;
  color: red;
  width: 20px;
  align-items: center;
  display: flex;
}

.checkbox-unchecked {
  cursor: pointer;
  height: 20px;
  margin-right: 6px;
  fill: #61dafb;
  color: red;
  width: 20px;
  align-items: center;
  display: flex;
}

.taskdone {
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  transition: opacity .3s linear;
  text-decoration: line-through;
  opacity: 0.3;
  color: #888;
  align-items: center;
}

.tasknot-done {
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin: 5px;
  display: flex;
  transition: opacity .3s linear;
  align-items: center;
}

.task-label {
  display: flex;
  cursor: pointer;
}

.count {
  text-align: center;
}

.message {
  text-align: center;
}

.trash {
  padding: 3px 3px;
  margin-top: 3px;
  align-items: center;
  background: none;
  border: none;
  height: 10px;
  display: flex;
  cursor: pointer;
  color: gray;
}

.rename-textbox {
  border: 2px solid #777;
  border-radius: 5px;
  padding: 0px;
}

.error-message {
  color: red;
  text-align: center;
  animation: pop 0.5s ease;
}

@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}